// Media

$mobile-se: "max-width: 492px";
$mobile-sm: "max-width: 575px";
$mobile: "max-width: 767px";
$tablet: "max-width: 991px";
$desktop-sm: "max-width: 1199px";
$desktop: "max-width: 1280px";
$desktop-lg: "max-width: 1780px";
