<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/site.webmanifest">

    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="css/perfect-scrollbar.css">

    <title>Cascade</title>
</head>


<body>
    <div class="background__img">
        <picture>
            <source srcset="img/background_img_1.webp" type="image/webp">
            <img src="img/background_img_1.jpg" alt="alt">
        </picture>
    </div>
    <div class="main">


        <header class="header js-header">
            <a href="#" class="header__logo">
                <img src="img/logo.png" alt="alt">
            </a>
        </header>

        <div class="burger js-open-menubar">
            <div class="burger__icon"></div>
        </div>

        <div class="search__btn js-open-searchbar">
            <div class="icon-search"></div>
        </div>